# Exclude Doxygen documentation files from language stats
*.doxygen linguist-vendored
*.tex linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-vendored
*.xml linguist-vendored

docs/** linguist-vendored